.pio/
.pioenvs/
.vscode/
MDK-ARM/Listings/
MDK-ARM/Objects/
MDK-ARM/*.uvgui.*
!build/VARIANT_DEBUG/firmware.hex
!build/VARIANT_DEBUG/firmware.bin
!build/VARIANT_DEBUG/firmware.elf
!build/VARIANT_HOVERBOARD/firmware.hex
!build/VARIANT_HOVERBOARD/firmware.bin
!build/VARIANT_HOVERBOARD/firmware.elf